[submodule "hdl/ip_cores/general-cores"]
	path = hdl/ip_cores/general-cores
	url = git://ohwr.org/hdl-core-lib/general-cores.git
[submodule "hdl/ip_cores/wr-cores"]
	path = hdl/ip_cores/wr-cores
	url = git://ohwr.org/hdl-core-lib/wr-cores.git
[submodule "hdl/ip_cores/etherbone-core"]
	path = hdl/ip_cores/etherbone-core
	url = git://ohwr.org/hdl-core-lib/etherbone-core.git
[submodule "hdl/ip_cores/vme64x-core"]
	path = hdl/ip_cores/vme64x-core
	url = git://ohwr.org/hdl-core-lib/vme64x-core.git
[submodule "hdl/ip_cores/fine-delay"]
	path = hdl/ip_cores/fine-delay
	url = git://ohwr.org/fmc-projects/fmc-delay-1ns-8cha.git
[submodule "hdl/ip_cores/fmc-tdc"]
	path = hdl/ip_cores/fmc-tdc
	url = git://ohwr.org/fmc-projects/fmc-tdc/fmc-tdc-1ns-5cha-gw.git
[submodule "hdl/ip_cores/gn4124-core"]
	path = hdl/ip_cores/gn4124-core
	url = git://ohwr.org/hdl-core-lib/gn4124-core.git
[submodule "hdl/ip_cores/urv-core"]
	path = hdl/ip_cores/urv-core
	url = git://ohwr.org/hdl-core-lib/urv-core.git
