#===============================================================================
# IO Location Constraints
#===============================================================================
#----------------------------------------
# VME interface
#----------------------------------------
NET "vme_write_n_i" LOC = R1;
NET "vme_rst_n_i" LOC = P4;
#NET "vme_sysclk_i" LOC = P3;
NET "vme_retry_oe_o" LOC = R4;
NET "vme_retry_n_o" LOC = AB2;
NET "vme_lword_n_b" LOC = M7;
NET "vme_iackout_n_o" LOC = N3;
NET "vme_iackin_n_i" LOC = P7;
NET "vme_iack_n_i" LOC = N1;
NET "vme_ga_i[5]" LOC = M6;
NET "vme_dtack_oe_o" LOC = T1;
NET "vme_dtack_n_o" LOC = R5;
NET "vme_ds_n_i[1]" LOC = Y7;
NET "vme_ds_n_i[0]" LOC = Y6;
NET "vme_data_oe_n_o" LOC = P1;
NET "vme_data_dir_o" LOC = P2;
NET "vme_berr_o" LOC = R3;
NET "vme_as_n_i" LOC = P6;
NET "vme_addr_oe_n_o" LOC = N4;
NET "vme_addr_dir_o" LOC = N5;
NET "vme_irq_n_o[6]" LOC = R7;
NET "vme_irq_n_o[5]" LOC = AH2;
NET "vme_irq_n_o[4]" LOC = AF2;
NET "vme_irq_n_o[3]" LOC = N9;
NET "vme_irq_n_o[2]" LOC = N10;
NET "vme_irq_n_o[1]" LOC = AH4;
NET "vme_irq_n_o[0]" LOC = AG4;
NET "vme_ga_i[4]" LOC = V9;
NET "vme_ga_i[3]" LOC = V10;
NET "vme_ga_i[2]" LOC = AJ1;
NET "vme_ga_i[1]" LOC = AH1;
NET "vme_ga_i[0]" LOC = V7;
NET "vme_data_b[31]" LOC = AK3;
NET "vme_data_b[30]" LOC = AH3;
NET "vme_data_b[29]" LOC = T8;
NET "vme_data_b[28]" LOC = T9;
NET "vme_data_b[27]" LOC = AK4;
NET "vme_data_b[26]" LOC = AJ4;
NET "vme_data_b[25]" LOC = W6;
NET "vme_data_b[24]" LOC = W7;
NET "vme_data_b[23]" LOC = AB6;
NET "vme_data_b[22]" LOC = AB7;
NET "vme_data_b[21]" LOC = W9;
NET "vme_data_b[20]" LOC = W10;
NET "vme_data_b[19]" LOC = AK5;
NET "vme_data_b[18]" LOC = AH5;
NET "vme_data_b[17]" LOC = AD6;
NET "vme_data_b[16]" LOC = AC6;
NET "vme_data_b[15]" LOC = AA6;
NET "vme_data_b[14]" LOC = AA7;
NET "vme_data_b[13]" LOC = T6;
NET "vme_data_b[12]" LOC = T7;
NET "vme_data_b[11]" LOC = AG5;
NET "vme_data_b[10]" LOC = AE5;
NET "vme_data_b[9]" LOC = Y11;
NET "vme_data_b[8]" LOC = W11;
NET "vme_data_b[7]" LOC = AF6;
NET "vme_data_b[6]" LOC = AE6;
NET "vme_data_b[5]" LOC = Y8;
NET "vme_data_b[4]" LOC = Y9;
NET "vme_data_b[3]" LOC = AE7;
NET "vme_data_b[2]" LOC = AD7;
NET "vme_data_b[1]" LOC = AA9;
NET "vme_data_b[0]" LOC = AA10;
NET "vme_am_i[5]" LOC = V8;
NET "vme_am_i[4]" LOC = AG3;
NET "vme_am_i[3]" LOC = AF3;
NET "vme_am_i[2]" LOC = AF4;
NET "vme_am_i[1]" LOC = AE4;
NET "vme_am_i[0]" LOC = AK2;
NET "vme_addr_b[31]" LOC = T2;
NET "vme_addr_b[30]" LOC = T3;
NET "vme_addr_b[29]" LOC = T4;
NET "vme_addr_b[28]" LOC = U1;
NET "vme_addr_b[27]" LOC = U3;
NET "vme_addr_b[26]" LOC = U4;
NET "vme_addr_b[25]" LOC = U5;
NET "vme_addr_b[24]" LOC = V1;
NET "vme_addr_b[23]" LOC = V2;
NET "vme_addr_b[22]" LOC = W1;
NET "vme_addr_b[21]" LOC = W3;
NET "vme_addr_b[20]" LOC = AA4;
NET "vme_addr_b[19]" LOC = AA5;
NET "vme_addr_b[18]" LOC = Y1;
NET "vme_addr_b[17]" LOC = Y2;
NET "vme_addr_b[16]" LOC = Y3;
NET "vme_addr_b[15]" LOC = Y4;
NET "vme_addr_b[14]" LOC = AC1;
NET "vme_addr_b[13]" LOC = AC3;
NET "vme_addr_b[12]" LOC = AD1;
NET "vme_addr_b[11]" LOC = AD2;
NET "vme_addr_b[10]" LOC = AB3;
NET "vme_addr_b[9]" LOC = AB4;
NET "vme_addr_b[8]" LOC = AD3;
NET "vme_addr_b[7]" LOC = AD4;
NET "vme_addr_b[6]" LOC = AC4;
NET "vme_addr_b[5]" LOC = AC5;
NET "vme_addr_b[4]" LOC = N7;
NET "vme_addr_b[3]" LOC = N8;
NET "vme_addr_b[2]" LOC = AE1;
NET "vme_addr_b[1]" LOC = AE3;

#----------------------------------------
# Clock and reset inputs
#----------------------------------------
NET "rst_n_a_i" LOC = AD28;

NET "clk_20m_vcxo_i" LOC = V26;
NET "clk_125m_pllref_n_i" LOC = AB30;
NET "clk_125m_pllref_p_i" LOC = AB28;

#----------------------------------------
# SFP slot
#----------------------------------------
NET "sfp_txp_o" LOC = B23;
NET "sfp_txn_o" LOC = A23;
NET "sfp_rxp_i" LOC = D22;
NET "sfp_rxn_i" LOC = C22;

NET "clk_125m_gtp_p_i" LOC = B19;
NET "clk_125m_gtp_n_i" LOC = A19;

NET "sfp_los_i" LOC = W25;
NET "sfp_mod_def0_b" LOC = Y26;
NET "sfp_mod_def1_b" LOC = Y27;
NET "sfp_mod_def2_b" LOC = AA24;
#NET "sfp_rate_select_o" LOC = W24;
NET "sfp_tx_disable_o" LOC = AA25;
NET "sfp_tx_fault_i" LOC = AA27;

#----------------------------------------
# Clock controls
#----------------------------------------
NET "pll20dac_din_o" LOC = U28;
NET "pll20dac_sclk_o" LOC = AA28;
NET "pll20dac_sync_n_o" LOC = N28;
NET "pll25dac_din_o" LOC = P25;
NET "pll25dac_sclk_o" LOC = N27;
NET "pll25dac_sync_n_o" LOC = P26;

#----------------------------------------
# UART
#----------------------------------------
NET "uart_txd_o" LOC = U27;
NET "uart_rxd_i" LOC = U25;

#----------------------------------------
# EEPROM
#----------------------------------------
NET "scl_afpga_b" LOC = AC29;
NET "sda_afpga_b" LOC = AA30;

#NET "fp_ledn_o[0]" LOC = AD27;
#NET "fp_ledn_o[1]" LOC = AD26;
#NET "fp_ledn_o[2]" LOC = AC28;
#NET "fp_ledn_o[3]" LOC = AC27;
#NET "fp_ledn_o[4]" LOC = AE27;
#NET "fp_ledn_o[5]" LOC = AE30;
#NET "fp_ledn_o[6]" LOC = AF28;
#NET "fp_ledn_o[7]" LOC = AE28;
#NET "fp_ledn_o[0]" IOSTANDARD = "LVCMOS33";
#NET "fp_ledn_o[1]" IOSTANDARD = "LVCMOS33";
#NET "fp_ledn_o[2]" IOSTANDARD = "LVCMOS33";
#NET "fp_ledn_o[3]" IOSTANDARD = "LVCMOS33";
#NET "fp_ledn_o[4]" IOSTANDARD = "LVCMOS33";
#NET "fp_ledn_o[5]" IOSTANDARD = "LVCMOS33";
#NET "fp_ledn_o[6]" IOSTANDARD = "LVCMOS33";
#NET "fp_ledn_o[7]" IOSTANDARD = "LVCMOS33";
#----------------------------------------
# 1-wire thermoeter + unique ID
#----------------------------------------
NET "tempid_dq_b" LOC = AC30;

#===============================================================================
# IO Standard Constraints
#===============================================================================
#----------------------------------------
# VME interface
#----------------------------------------
NET "vme_write_n_i" IOSTANDARD = "LVCMOS33";
NET "vme_rst_n_i" IOSTANDARD = "LVCMOS33";
#NET "vme_sysclk_i" IOSTANDARD = "LVCMOS33";
NET "vme_retry_oe_o" IOSTANDARD = "LVCMOS33";
NET "vme_retry_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_lword_n_b" IOSTANDARD = "LVCMOS33";
NET "vme_iackout_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_iackin_n_i" IOSTANDARD = "LVCMOS33";
NET "vme_iack_n_i" IOSTANDARD = "LVCMOS33";
NET "vme_ga_i[5]" IOSTANDARD = "LVCMOS33";
NET "vme_dtack_oe_o" IOSTANDARD = "LVCMOS33";
NET "vme_dtack_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_ds_n_i[1]" IOSTANDARD = "LVCMOS33";
NET "vme_ds_n_i[0]" IOSTANDARD = "LVCMOS33";
NET "vme_data_oe_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_data_dir_o" IOSTANDARD = "LVCMOS33";
NET "vme_berr_o" IOSTANDARD = "LVCMOS33";
NET "vme_as_n_i" IOSTANDARD = "LVCMOS33";
NET "vme_addr_oe_n_o" IOSTANDARD = "LVCMOS33";
NET "vme_addr_dir_o" IOSTANDARD = "LVCMOS33";
NET "vme_irq_n_o[6]" IOSTANDARD = "LVCMOS33";
NET "vme_irq_n_o[5]" IOSTANDARD = "LVCMOS33";
NET "vme_irq_n_o[4]" IOSTANDARD = "LVCMOS33";
NET "vme_irq_n_o[3]" IOSTANDARD = "LVCMOS33";
NET "vme_irq_n_o[2]" IOSTANDARD = "LVCMOS33";
NET "vme_irq_n_o[1]" IOSTANDARD = "LVCMOS33";
NET "vme_irq_n_o[0]" IOSTANDARD = "LVCMOS33";
NET "vme_ga_i[4]" IOSTANDARD = "LVCMOS33";
NET "vme_ga_i[3]" IOSTANDARD = "LVCMOS33";
NET "vme_ga_i[2]" IOSTANDARD = "LVCMOS33";
NET "vme_ga_i[1]" IOSTANDARD = "LVCMOS33";
NET "vme_ga_i[0]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[31]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[30]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[29]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[28]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[27]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[26]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[25]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[24]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[23]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[22]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[21]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[20]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[19]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[18]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[17]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[16]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[15]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[14]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[13]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[12]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[11]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[10]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[9]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[8]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[7]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[6]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[5]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[4]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[3]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[2]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[1]" IOSTANDARD = "LVCMOS33";
NET "vme_data_b[0]" IOSTANDARD = "LVCMOS33";
NET "vme_am_i[5]" IOSTANDARD = "LVCMOS33";
NET "vme_am_i[4]" IOSTANDARD = "LVCMOS33";
NET "vme_am_i[3]" IOSTANDARD = "LVCMOS33";
NET "vme_am_i[2]" IOSTANDARD = "LVCMOS33";
NET "vme_am_i[1]" IOSTANDARD = "LVCMOS33";
NET "vme_am_i[0]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[31]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[30]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[29]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[28]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[27]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[26]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[25]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[24]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[23]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[22]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[21]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[20]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[19]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[18]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[17]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[16]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[15]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[14]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[13]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[12]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[11]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[10]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[9]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[8]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[7]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[6]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[5]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[4]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[3]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[2]" IOSTANDARD = "LVCMOS33";
NET "vme_addr_b[1]" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# Clock and reset inputs
#----------------------------------------
NET "rst_n_a_i" IOSTANDARD = "LVCMOS33";

NET "clk_20m_vcxo_i" IOSTANDARD = "LVCMOS33";
NET "clk_125m_pllref_n_i" IOSTANDARD = "LVDS_25";
NET "clk_125m_pllref_n_i" IOSTANDARD = "LVDS_25";

#----------------------------------------
# SFP slot
#----------------------------------------
NET "sfp_los_i" IOSTANDARD = "LVCMOS33";
NET "sfp_mod_def0_b" IOSTANDARD = "LVCMOS33";
NET "sfp_mod_def1_b" IOSTANDARD = "LVCMOS33";
NET "sfp_mod_def2_b" IOSTANDARD = "LVCMOS33";
#NET "sfp_rate_select_o" IOSTANDARD = "LVCMOS33";
NET "sfp_tx_disable_o" IOSTANDARD = "LVCMOS33";
NET "sfp_tx_fault_i" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# Clock controls
#----------------------------------------
NET "pll20dac_din_o" IOSTANDARD = "LVCMOS33";
NET "pll20dac_sclk_o" IOSTANDARD = "LVCMOS33";
NET "pll20dac_sync_n_o" IOSTANDARD = "LVCMOS33";
NET "pll25dac_din_o" IOSTANDARD = "LVCMOS33";
NET "pll25dac_sclk_o" IOSTANDARD = "LVCMOS33";
NET "pll25dac_sync_n_o" IOSTANDARD = "LVCMOS33";

NET "fp_led_line_oen_o[0]" LOC = AD26;
NET "fp_led_line_oen_o[0]" IOSTANDARD="LVCMOS33";
NET "fp_led_line_oen_o[1]" LOC = AD27;
NET "fp_led_line_oen_o[1]" IOSTANDARD="LVCMOS33";
NET "fp_led_line_o[0]" LOC = AC27;
NET "fp_led_line_o[0]" IOSTANDARD="LVCMOS33";
NET "fp_led_line_o[1]" LOC = AC28;
NET "fp_led_line_o[1]" IOSTANDARD="LVCMOS33";
NET "fp_led_column_o[0]" LOC = AE30;
NET "fp_led_column_o[0]" IOSTANDARD="LVCMOS33";
NET "fp_led_column_o[1]" LOC = AE27;
NET "fp_led_column_o[1]" IOSTANDARD="LVCMOS33";
NET "fp_led_column_o[2]" LOC = AE28;
NET "fp_led_column_o[2]" IOSTANDARD="LVCMOS33";
NET "fp_led_column_o[3]" LOC = AF28;
NET "fp_led_column_o[3]" IOSTANDARD="LVCMOS33";

NET "fp_gpio1_a2b_o" LOC=R29;
NET "fp_gpio1_a2b_o" IOSTANDARD="LVCMOS33";

NET "fp_gpio2_a2b_o" LOC=T30;
NET "fp_gpio2_a2b_o" IOSTANDARD="LVCMOS33";

NET "fp_gpio34_a2b_o" LOC=V28;
NET "fp_gpio34_a2b_o" IOSTANDARD="LVCMOS33";

NET "fp_gpio1_b" LOC=R30;
NET "fp_gpio1_b" IOSTANDARD="LVCMOS33";

NET "fp_gpio2_b" LOC=T28;
NET "fp_gpio2_b" IOSTANDARD="LVCMOS33";

NET "fp_gpio3_b" LOC=U29;
NET "fp_gpio3_b" IOSTANDARD="LVCMOS33";

NET "fp_gpio4_b" LOC=V27;
NET "fp_gpio4_b" IOSTANDARD="LVCMOS33";

#----------------------------------------
# UART
#----------------------------------------
NET "uart_txd_o" IOSTANDARD = "LVCMOS33";
NET "uart_rxd_i" IOSTANDARD = "LVCMOS33";


#----------------------------------------
# 1-wire thermometer + unique ID
#----------------------------------------
NET "tempid_dq_b" IOSTANDARD = "LVCMOS33";

#----------------------------------------
# EEPROM
#----------------------------------------
NET "scl_afpga_b" IOSTANDARD = "LVCMOS33";
NET "sda_afpga_b" IOSTANDARD = "LVCMOS33";

NET "fmc0_prsntm2c_n_i" LOC = N30;
#NET "fmc0_scl_b" LOC = P28;
#NET "fmc0_sda_b" LOC = P30;
NET "fmc1_prsntm2c_n_i" LOC = AE29;
#NET "fmc1_scl_b" LOC = W29;
#NET "fmc1_sda_b" LOC = V30;
NET "fmc1_prsntm2c_n_i" IOSTANDARD = "LVCMOS33";
#NET "fmc1_scl_b" IOSTANDARD = "LVCMOS33";
#NET "fmc1_sda_b" IOSTANDARD = "LVCMOS33";
NET "fmc0_prsntm2c_n_i" IOSTANDARD = "LVCMOS33";
#NET "fmc0_scl_b" IOSTANDARD = "LVCMOS33";
#NET "fmc0_sda_b" IOSTANDARD = "LVCMOS33";


#Created by Constraints Editor (xc6slx150t-fgg900-3) - 2012/06/15
NET "clk_20m_vcxo_i" TNM_NET = clk_20m_vcxo_i;
TIMESPEC TS_clk_20m_vcxo_i = PERIOD "clk_20m_vcxo_i" 50 ns HIGH 50%;
NET "clk_125m_gtp_n_i" TNM_NET = clk_125m_gtp_n_i;
TIMESPEC TS_clk_125m_gtp_n_i = PERIOD "clk_125m_gtp_n_i" 8 ns HIGH 50%;
NET "clk_125m_gtp_p_i" TNM_NET = clk_125m_gtp_p_i;
TIMESPEC TS_clk_125m_gtp_p_i = PERIOD "clk_125m_gtp_p_i" 8 ns HIGH 50%;
NET "clk_125m_pllref_n_i" TNM_NET = clk_125m_pllref_n_i;
TIMESPEC TS_clk_125m_pllref_n_i = PERIOD "clk_125m_pllref_n_i" 8 ns HIGH 50%;
NET "clk_125m_pllref_p_i" TNM_NET = clk_125m_pllref_p_i;
TIMESPEC TS_clk_125m_pllref_p_i = PERIOD "clk_125m_pllref_p_i" 8 ns HIGH 50%;
#NET "U_Node_Template/gen_with_phy.U_GTP/ch1_gtp_clkout_int<1>" TNM_NET = U_Node_Template/gen_with_phy.U_GTP/ch1_gtp_clkout_int<1>;
#TIMESPEC TS_U_Node_Template_gen_with_phy_U_GTP_ch1_gtp_clkout_int_1_ = PERIOD "U_Node_Template/gen_with_phy.U_GTP/ch1_gtp_clkout_int<1>" 8 ns HIGH 50%;
#NET "U_Node_Template/clk_125m_pllref" TNM_NET = clk_125m_pllref;
NET "U_Node_Template/clk_sys" TNM_NET = clk_sys;
#NET "U_Node_Template/clk_dmtd" TNM_NET = clk_dmtd;
#NET "U_Node_Template/phy_rx_rbclk" TNM_NET = phy_rx_rbclk;
#TIMESPEC TS_clk_sys = PERIOD "clk_sys" 16 ns HIGH 50%;
#TIMESPEC TS_clk_sys = PERIOD "clk_sys" 16 ns HIGH 50%;

NET "U_GMT_Clock_Gen/clkout0" TNM_NET = clk_gmt;

TIMESPEC TS_crossdomain_1 = FROM "clk_sys" TO "clk_125m_pllref_p_i" 20 ns DATAPATHONLY;
TIMESPEC TS_crossdomain_2 = FROM "clk_125m_pllref_p_i" TO "clk_sys" 20 ns DATAPATHONLY;

TIMESPEC TS_crossdomain_3 = FROM "clk_125m_pllref_p_i" TO "clk_gmt" 40 ns DATAPATHONLY;
TIMESPEC TS_crossdomain_4 = FROM "clk_gmt" TO "clk_125m_pllref_p_i" 40 ns DATAPATHONLY;

TIMESPEC TS_crossdomain_5 = FROM "clk_sys" TO "clk_gmt" 40 ns DATAPATHONLY;
TIMESPEC TS_crossdomain_6 = FROM "clk_gmt" TO "clk_sys" 40 ns DATAPATHONLY;

#TIMESPEC TS_crossdomain_3 = FROM "clk_sys" TO "phy_rx_rbclk" 20ns DATAPATHONLY;
#TIMESPEC TS_crossdomain_4 = FROM "phy_rx_rbclk" TO "clk_sys" 20ns DATAPATHONLY;
#TIMESPEC TS_crossdomain_5 = FROM "clk_125m_pllref" TO "phy_rx_rbclk" 20ns DATAPATHONLY;
#TIMESPEC TS_crossdomain_6 = FROM "phy_rx_rbclk" TO "clk_125m_pllref" 20ns DATAPATHONLY;
#TIMESPEC TS_crossdomain_5 = FROM "U_Node_Template/clk_dmtd" TO "U_Node_Template/phy_rx_rbclk" 4ns DATAPATHONLY;
#TIMESPEC TS_crossdomain_6 = FROM "U_Node_Template/phy_rx_rbclk" TO "U_Node_Template/clk_dmtd" 4ns DATAPATHONLY;
#TIMESPEC TS_crossdomain_7 = FROM "U_Node_Template/clk_dmtd" TO "U_Node_Template/clk_125m_pllref" 4ns DATAPATHONLY;
#TIMESPEC TS_crossdomain_8 = FROM "U_Node_Template/clk_125m_pllref" TO "U_Node_Template/clk_dmtd" 4ns DATAPATHONLY;
#TIMESPEC TS_crossdomain_9 = FROM "U_Node_Template/clk_dmtd" TO "U_Node_Template/clk_sys" 4ns DATAPATHONLY;
#TIMESPEC TS_crossdomain_10 = FROM "U_Node_Template/clk_sys" TO "U_Node_Template/clk_dmtd" 4ns DATAPATHONLY;

NET "*/gc_sync_register_in[*]" MAXDELAY=4ns;

NET "U_Node_Template/gen_with_phy.U_GTP/ch1_gtp_clkout_int<1>" TNM_NET = U_Node_Template/gen_with_phy.U_GTP/ch1_gtp_clkout_int<1>;
TIMESPEC TS_U_Node_Template_gen_with_phy_U_GTP_ch1_gtp_clkout_int_1_ = PERIOD "U_Node_Template/gen_with_phy.U_GTP/ch1_gtp_clkout_int<1>" 8 ns HIGH 50%;

# <ucfgen_start>

# This section has bee generated automatically by ucfgen.py. Do not hand-modify if not really necessary.
# ucfgen pin assignments for mezzanine fmc-dio-v1 slot 0
NET "fmc0_dio_clk_p_i" LOC = "E16";
NET "fmc0_dio_clk_p_i" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_clk_n_i" LOC = "D16";
NET "fmc0_dio_clk_n_i" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_p_o[4]" LOC = "D24";
NET "fmc0_dio_p_o[4]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_n_o[4]" LOC = "C24";
NET "fmc0_dio_n_o[4]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_p_o[3]" LOC = "G22";
NET "fmc0_dio_p_o[3]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_n_o[3]" LOC = "F22";
NET "fmc0_dio_n_o[3]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_oe_n_o[3]" LOC = "G20";
NET "fmc0_dio_oe_n_o[3]" IOSTANDARD = "LVCMOS25";
NET "fmc0_dio_oe_n_o[2]" LOC = "G16";
NET "fmc0_dio_oe_n_o[2]" IOSTANDARD = "LVCMOS25";
NET "fmc0_dio_oe_n_o[1]" LOC = "F10";
NET "fmc0_dio_oe_n_o[1]" IOSTANDARD = "LVCMOS25";
NET "fmc0_dio_p_o[1]" LOC = "L12";
NET "fmc0_dio_p_o[1]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_n_o[1]" LOC = "K12";
NET "fmc0_dio_n_o[1]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_oe_n_o[0]" LOC = "J13";
NET "fmc0_dio_oe_n_o[0]" IOSTANDARD = "LVCMOS25";
NET "fmc0_dio_term_en_o[0]" LOC = "H13";
NET "fmc0_dio_term_en_o[0]" IOSTANDARD = "LVCMOS25";
NET "fmc0_dio_p_i[4]" LOC = "C16";
NET "fmc0_dio_p_i[4]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_n_i[4]" LOC = "A16";
NET "fmc0_dio_n_i[4]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_p_i[3]" LOC = "E25";
NET "fmc0_dio_p_i[3]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_n_i[3]" LOC = "D25";
NET "fmc0_dio_n_i[3]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_p_o[2]" LOC = "F23";
NET "fmc0_dio_p_o[2]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_n_o[2]" LOC = "E23";
NET "fmc0_dio_n_o[2]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_p_i[2]" LOC = "F19";
NET "fmc0_dio_p_i[2]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_n_i[2]" LOC = "E19";
NET "fmc0_dio_n_i[2]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_p_i[1]" LOC = "F15";
NET "fmc0_dio_p_i[1]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_n_i[1]" LOC = "E15";
NET "fmc0_dio_n_i[1]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_p_o[0]" LOC = "F9";
NET "fmc0_dio_p_o[0]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_n_o[0]" LOC = "E9";
NET "fmc0_dio_n_o[0]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_p_i[0]" LOC = "J12";
NET "fmc0_dio_p_i[0]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_n_i[0]" LOC = "H12";
NET "fmc0_dio_n_i[0]" IOSTANDARD = "LVDS_25";
NET "fmc0_dio_led_top_o" LOC = "H21";
NET "fmc0_dio_led_top_o" IOSTANDARD = "LVCMOS25";
NET "fmc0_dio_led_bot_o" LOC = "G21";
NET "fmc0_dio_led_bot_o" IOSTANDARD = "LVCMOS25";
NET "fmc0_dio_oe_n_o[4]" LOC = "M19";
NET "fmc0_dio_oe_n_o[4]" IOSTANDARD = "LVCMOS25";
NET "fmc0_dio_term_en_o[2]" LOC = "L19";
NET "fmc0_dio_term_en_o[2]" IOSTANDARD = "LVCMOS25";
NET "fmc0_dio_term_en_o[3]" LOC = "M20";
NET "fmc0_dio_term_en_o[3]" IOSTANDARD = "LVCMOS25";
NET "fmc0_dio_term_en_o[4]" LOC = "L20";
NET "fmc0_dio_term_en_o[4]" IOSTANDARD = "LVCMOS25";
NET "fmc0_dio_onewire_b" LOC = "K15";
NET "fmc0_dio_onewire_b" IOSTANDARD = "LVCMOS25";
NET "fmc0_dio_term_en_o[1]" LOC = "A25";
NET "fmc0_dio_term_en_o[1]" IOSTANDARD = "LVCMOS25";
# ucfgen pin assignments for mezzanine fmc-dio-v1 slot 1
NET "fmc1_dio_clk_p_i" LOC = "AH16";
NET "fmc1_dio_clk_p_i" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_clk_n_i" LOC = "AK16";
NET "fmc1_dio_clk_n_i" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_p_o[4]" LOC = "AJ15";
NET "fmc1_dio_p_o[4]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_n_o[4]" LOC = "AK15";
NET "fmc1_dio_n_o[4]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_p_o[3]" LOC = "AD12";
NET "fmc1_dio_p_o[3]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_n_o[3]" LOC = "AE12";
NET "fmc1_dio_n_o[3]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_oe_n_o[3]" LOC = "Y16";
NET "fmc1_dio_oe_n_o[3]" IOSTANDARD = "LVCMOS25";
NET "fmc1_dio_oe_n_o[2]" LOC = "AA17";
NET "fmc1_dio_oe_n_o[2]" IOSTANDARD = "LVCMOS25";
NET "fmc1_dio_oe_n_o[1]" LOC = "AC21";
NET "fmc1_dio_oe_n_o[1]" IOSTANDARD = "LVCMOS25";
NET "fmc1_dio_p_o[1]" LOC = "AA22";
NET "fmc1_dio_p_o[1]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_n_o[1]" LOC = "AC22";
NET "fmc1_dio_n_o[1]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_oe_n_o[0]" LOC = "W20";
NET "fmc1_dio_oe_n_o[0]" IOSTANDARD = "LVCMOS25";
NET "fmc1_dio_term_en_o[0]" LOC = "Y20";
NET "fmc1_dio_term_en_o[0]" IOSTANDARD = "LVCMOS25";
NET "fmc1_dio_p_i[4]" LOC = "AJ17";
NET "fmc1_dio_p_i[4]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_n_i[4]" LOC = "AK17";
NET "fmc1_dio_n_i[4]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_p_i[3]" LOC = "AE13";
NET "fmc1_dio_p_i[3]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_n_i[3]" LOC = "AF13";
NET "fmc1_dio_n_i[3]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_p_o[2]" LOC = "AB12";
NET "fmc1_dio_p_o[2]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_n_o[2]" LOC = "AC12";
NET "fmc1_dio_n_o[2]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_p_i[2]" LOC = "AB14";
NET "fmc1_dio_p_i[2]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_n_i[2]" LOC = "AC14";
NET "fmc1_dio_n_i[2]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_p_i[1]" LOC = "AE19";
NET "fmc1_dio_p_i[1]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_n_i[1]" LOC = "AF19";
NET "fmc1_dio_n_i[1]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_p_o[0]" LOC = "AC24";
NET "fmc1_dio_p_o[0]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_n_o[0]" LOC = "AD24";
NET "fmc1_dio_n_o[0]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_p_i[0]" LOC = "AA19";
NET "fmc1_dio_p_i[0]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_n_i[0]" LOC = "AB19";
NET "fmc1_dio_n_i[0]" IOSTANDARD = "LVDS_25";
NET "fmc1_dio_led_top_o" LOC = "AG8";
NET "fmc1_dio_led_top_o" IOSTANDARD = "LVCMOS25";
NET "fmc1_dio_led_bot_o" LOC = "AH8";
NET "fmc1_dio_led_bot_o" IOSTANDARD = "LVCMOS25";
NET "fmc1_dio_oe_n_o[4]" LOC = "AE11";
NET "fmc1_dio_oe_n_o[4]" IOSTANDARD = "LVCMOS25";
NET "fmc1_dio_term_en_o[2]" LOC = "AF11";
NET "fmc1_dio_term_en_o[2]" IOSTANDARD = "LVCMOS25";
NET "fmc1_dio_term_en_o[3]" LOC = "W14";
NET "fmc1_dio_term_en_o[3]" IOSTANDARD = "LVCMOS25";
NET "fmc1_dio_term_en_o[4]" LOC = "Y13";
NET "fmc1_dio_term_en_o[4]" IOSTANDARD = "LVCMOS25";
NET "fmc1_dio_onewire_b" LOC = "AG25";
NET "fmc1_dio_onewire_b" IOSTANDARD = "LVCMOS25";
NET "fmc1_dio_term_en_o[1]" LOC = "AE10";
NET "fmc1_dio_term_en_o[1]" IOSTANDARD = "LVCMOS25";
# <ucfgen_end>
NET "fp_gpio1_term_en_o" LOC=AB1;
NET "fp_gpio1_term_en_o" IOSTANDARD="LVCMOS33";

NET "fp_gpio2_term_en_o" LOC=W5;
NET "fp_gpio2_term_en_o" IOSTANDARD="LVCMOS33";

NET "fp_gpio3_term_en_o" LOC=W4;
NET "fp_gpio3_term_en_o" IOSTANDARD="LVCMOS33";

NET "fp_gpio4_term_en_o" LOC=V4;
NET "fp_gpio4_term_en_o" IOSTANDARD="LVCMOS33";
